<h1>CreateUser </h1>

<div class="">
    <form action="postCreatUser" method="POST">
        <fieldset>
            <label for="ID">ID</label>
            <input type="text" id="id_tk" name="id_tk"><br>

            <label for="name">Name:</label>
            <input type="text" id="name" name="name"><br>

            <label for="Email">Email:</label>
            <input type="text" id="email" name="email"><br>

            <label for="Phone">Phone:</label>
            <input type="text" id="phone" name="phone"><br>


            <label for="Permission">Permission:</label>
            <input type="text" id="permission" name="permission"><br>

            <label for="password">Passoword</label>
            <input type="text" id="password" name="password"><br>

            <label for="repassword">Repassoword</label>
            <input type="text" id="repassword" name="repassword"><br>

            <input type="submit" value="Submit">
        </fieldset>
    </form>
</div>