<style>
    #customers {
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    #customers td,
    #customers th {
        border: 1px solid #ddd;
        padding: 8px;
    }

    #customers tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    #customers tr:hover {
        background-color: #ddd;
    }

    #customers th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #0476aa;
        color: white;
    }
</style>
<h1>A Fancy Table</h1>

<table id="customers">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Permission</th>
        <th>Password</th>
        <th>Repassword</th>
        <th>Action</th>
    </tr>
    <tr>
        <td>001</td>
        <td>Trần Văn Nam </td>
        <td>namTran@gmail.com</td>
        <td>0923455488</td>
        <td>Admin</td>
        <td>99999999</td>
        <td>99999999</td>
        <td><button>Edit</button><button>Delete</button></td>
    </tr>
    <tr>
        <td>001</td>
        <td>Trần Văn Nam </td>
        <td>namTran@gmail.com</td>
        <td>0923455488</td>
        <td>Admin</td>
        <td>99999999</td>
        <td>99999999</td>
        <td><button>Edit</button><button>Delete</button></td>
    </tr>
    <tr>
        <td>002</td>
        <td>Trần Văn Nam </td>
        <td>namTran@gmail.com</td>
        <td>0923455488</td>
        <td>Admin</td>
        <td>99999999</td>
        <td>99999999</td>
        <td><button>Edit</button><button>Delete</button></td>
    </tr>
    <tr>
        <td>003</td>
        <td>Trần Văn Nam </td>
        <td>namTran@gmail.com</td>
        <td>0923455488</td>
        <td>Admin</td>
        <td>99999999</td>
        <td>99999999</td>
        <td><button>Edit</button><button>Delete</button></td>
    </tr>



</table>